body {
  width: 2010px;
  height: 3314px;
  zoom: 75%;
}
.dv1 {
  background-image: url("file:///C:/Users/USER/Desktop/My%20site%202/image.png");
}
.m1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
  margin-top: -10px;
  padding-top:160px;
  padding-bottom: 160px;
  padding-right: 360px;
  padding-left: 360px;
}
.dv2 {
  background-color:white;
  width: 2011px;
  height: 719px;
  margin-top: 48px;
}
.m2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  padding-right: 453px;
  padding-left: 451px;
  color: #007765;
  text-align: center;
}
.m3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-right: 450px;
  padding-left: 451px;
  color: #000000;
  text-align: center;
}
.m6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-right: 450px;
  padding-left: 451px;
  color: #000000;
  text-align: center;
  position: relative;
  top: -16px;
}
.dv3 {
  width: 2011px;
  height: 483px;
  background-image: url("file:///C:/Users/USER/Desktop/My%20site%202/image-1.png");
  position: relative;
  top: -92px;
}
.m4 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  padding-top: 128px;
  padding-bottom: 127px;
  padding-left: 559px;
  padding-right: 559px;
  position:relative;
}
.a1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  position:relative;
  color: #007765;
  top: -90px;
  margin-bottom: -80px;
}
.dv4 {
  width: 2011px;
  height: 604px;
}
.im1 {
  padding-left: 451px;
  float: left;
}
.mom {
  width: 115px;
  height: 115px;
}
.q1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-right: 467px;
  padding-left: 614px;
  padding-top: -16px;
  color: #000000;
}
.q4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-left: 451px;
  margin-right: 450px;
}
.dv5 {
  width: 2011px;
  height: 845px;
  background-color: #eeee;
}
.r {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-top: -58px;
}
.r11 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 488px;
  top: 2482px;
}
.r12 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 880px;
  top: 2482px;
}
.r13 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 1250px;
  top: 2482px;
}
.r21 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 488px;
  top: 2795px;
}
.r22 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 880px;
  top: 2795px;
}
.r23 {
  position: absolute;
  width: 168px;
  height: 168px;
  left: 1250px;
  top: 2795px;
}
.r2 {
  font-family: "Italic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #007765;
}
.dv6 {
  width: 2011px;
  height: 176px;
  background-image: url("file:///C:/Users/USER/Downloads/Rectangle%20(1).png");
}
.wtf {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 62px;
  padding-left: 736px;
  padding-right: 735px;
}
.hd1 {
  background-image: url("file:///C:/Users/USER/Downloads/Rectangle%20(2).png");
  width: 1506px;
  height: 84px;
  padding-left: 504px;
  padding-top: 20px;
  position: absolute;
  background-image: url("file:///C:/Users/USER/Desktop/My%20site%202/BfemybeKVXCf9pgX9WCxsc.jpg");
}
.wote {
  width: 184px;
  height: 45px;
  float: left;
}
.fuck {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top:10px;
  color:rgb(29, 92, 115);
}
